<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jennita's Juicery - Home</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <header>
    <div class="logo_header">
      <img src="../images/logo-4.png" alt="Jennita's Juicery logo">
    </div>
    <div class="tabs">Home</div>
    <div class="tabs">Menu</div>
    <div class="tabs">Contact</div>
  </header>
  <div class="main">
    <div id="content"></div>
    <div class="intro">
      <div class="text_button">
        <h1 class="grid-item tagline">Turn vegetables into <span style=
          "color:rgb(110, 199, 2)">victories</span></h1>
        <p class="grid-item tagtext">At Jennita's Juicery, we know the power of 
          vegetables to make anyone into a hero. Start your transformation 
          today.</p>
        <div class="grid-item">
          <input type="button" class="response_button" value="Transform Me!">
        </div>
      </div>
      <div class="grid-item">
        <img src="../images/landing-page.jpeg" alt="A happy woman with lots of 
          green vegetables in a blender, ready to make a green smoothie">
      </div>
    </div>
    <div class="logo">
      <img src="../images/logo-4.png" alt="Jennita's Juicery logo">
    </div>
    <p class="copy_text">Lorem, ipsum dolor sit amet consectetur adipisicing
       elit. Nemo, amet dicta! Veniam repellendus debitis, cum voluptatibus 
       perspiciatis voluptate, magni excepturi esse non totam at explicabo unde 
       autem accusantium? Dolor saepe natus dolorem nobis ullam iure, iste 
       cupiditate enim minus odio. Libero enim animi ut sed, omnis nam numquam 
       quo error aperiam necessitatibus? Eos repudiandae error velit odio, ut
       dolores, eligendi, doloribus deserunt natus laboriosam quaerat unde 
       molestiae. Nostrum impedit veniam delectus temporibus voluptate, eveniet
        neque libero, aperiam illum velit minus fugiat. Repudiandae corporis a 
        eligendi perferendis, expedita, ad tenetur laudantium autem harum 
        debitis recusandae fugit nobis ducimus architecto nulla dicta 
        reprehenderit minima blanditiis error impedit alias rerum accusantium. 
        Cumque beatae consequuntur tempora repellat dolorum quisquam 
        praesentium labore, tempore possimus sunt ratione quasi odio 
        necessitatibus, cupiditate perspiciatis animi nemo vitae! Natus 
        quibusdam dignissimos ab obcaecati ipsum aspernatur, nam possimus 
        placeat ut exercitationem accusantium cum quasi quia, distinctio 
        similique sunt perspiciatis? Et vero fugit id odio ex dolorum aut 
        voluptas sequi earum nihil, cum repellendus fuga quibusdam repellat
        vitae aperiam, veniam dolores odit. Asperiores inventore fuga sequi 
        saepe blanditiis cumque voluptatem, accusamus non, voluptates illo iste 
        dolorem a dolore quos provident perferendis vel. Impedit labore facilis
        dolorem, illum inventore architecto autem repudiandae?</p>
</div>
<footer>
  <p class="footer_text">NOT Copyright 2022<br>For entertainment purposes only</p>
</footer>
  <!-- <script src="./main.js"></script> -->
</body>
</html>